@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

body {
  display: grid;
  grid-template-columns: 22% 1fr;
  grid-template-rows: 20% 1fr;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style-type: none;
}

.sidebar {
  background-color: #065f46;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: repeat(3, fit-content(25%)) 1fr;
  /* grid-template-columns: 15% 1fr; */
  row-gap: 30px;
  align-items: start;
  color: white;
}

.sidebar img {
  filter: invert(100%) sepia(17%) saturate(7057%) hue-rotate(167deg) 
          brightness(133%) contrast(108%);
}

.sidebar div {
  display: grid;
  justify-content: left;
  padding: 15px 25px;
  font-size: 1.5rem;
  grid-auto-flow: column;
  gap: 10px;
}

.sidebar .logo {
  align-items: center;
  font-size: 2rem;
}

.sidebar .logo img {
  height: 100%;
}

.sidebar ul {
  display: grid;
  gap: 15px;
}

li {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.header {
  background-color: white;
}

.content {
  background-color: #d1fae5;
}
