@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'sans-serif';
}

body {
  display: grid;
  grid-template-columns: 22% 1fr;
  grid-template-rows: 20% 1fr;
  height: 100vh;
  width: 100vw;
}

ul {
  list-style-type: none;
}

.sidebar {
  background-color: #065f46;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: repeat(3, fit-content(25%)) 1fr;
  /* grid-template-columns: 15% 1fr; */
  row-gap: 30px;
  align-items: start;
  color: white;
}

.sidebar img {
  filter: invert(100%) sepia(17%) saturate(7057%) hue-rotate(167deg) 
          brightness(133%) contrast(108%);
}

.sidebar div {
  display: grid;
  justify-content: left;
  padding: 15px 25px;
  font-size: 1.5rem;
  grid-auto-flow: column;
  gap: 10px;
}

.sidebar .logo {
  align-items: center;
  font-size: 2rem;
}

.sidebar .logo img {
  height: 100%;
}

.sidebar ul {
  display: grid;
  gap: 15px;
}

li {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  gap: 15px;
}

.header {
  background-color: white;
  display: grid;
}

.upperheader, .lowerheader{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 40px;
}

.header div {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 0 30px;
}

.searchbar {
  grid-template-columns: 40px 1fr;
}

.searchbar input {
  height: 20px;
  border-radius: 5px;
}

.rightheader .jen {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.lowerheader {
  grid-template-columns: 3fr 2fr;
}

.usergreet {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
}

.usergreet .jen {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  grid-row: 1 / -1;
}

.usergreet .user {
  font-size: 1.5rem;
  font-weight: bold;
}

.lowerheader .actions {
  justify-content: space-between;
  padding: 0;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: bold;
  width: 120px;
}

.content {
  background-color: #d1fae5;
}
